<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647955395895-mr7jij6qpgsjhmn83ptf6l20jkpkusc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647955395895-mr7jij6qpgsjhmn83ptf6l20jkpkusc5</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ6M6evX5ArUb4U5nK8Irh8fP6G7-KdoY</string>
	<key>GCM_SENDER_ID</key>
	<string>647955395895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olx</string>
	<key>PROJECT_ID</key>
	<string>olx-clone-a5799</string>
	<key>STORAGE_BUCKET</key>
	<string>olx-clone-a5799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647955395895:ios:3230bd138c3ed0d6b356b2</string>
</dict>
</plist>